name: Build, Test, and Deploy Angular App

on:
    push:
        branches:
            - main # Trigger the workflow on push to the main branch

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20" # Specify the Node.js version

            - name: Install dependencies
              run: |
                  cd test
                  npm install

            - name: Run tests
              run: |
                  cd test
                  npm run test

    deploy:
        needs: test # Ensure the deploy job runs after the test job
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20" # Specify the Node.js version

            - name: Install dependencies
              run: |
                  cd test
                  npm install

            - name: Build Angular app
              run: |
                  cd test
                  npm run build
