name: Build, Test, and Deploy Angular App

on:
    push:
        branches:
            - deployment # Trigger the workflow on push to the deployment branch

jobs:
    deploy:
        defaults:
            run:
                working-directory: test # Set the working directory for the test job
        runs-on: self-hosted

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20" # Specify the Node.js version

            - name: Install dependencies
              run: npm install

            - name: Build Angular app
              run: npm run build

            - name: Stop IIS Site
              run: |
                  # Stop the specific IIS site
                  Stop-IISSite -Name "angular app"
              shell: powershell

            - name: deploy
              run: |
                  cp -r dist\test\browser\* C:\iisServer\angular\
              shell: powershell

            - name: Start IIS Site
              run: |
                  # Start the specific IIS site
                  Start-IISSite -Name "angular app"
              shell: powershell
